@use './variables' as *;

@layer v0-button {
  .v0-button {
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    gap: #{$v0-button-gap};
    justify-content: center;
    outline: none;
    vertical-align: middle;

    &--disabled,
    &--readonly,
    &--loading {
      cursor: default;
    }

    &--disabled {
      opacity: #{$v0-button-disabled-opacity};
    }
  }
}
