@use './variables' as *;

@layer vuetify-0-button {
  .v0-button {
    align-items: align-center;
    cursor: pointer;
    display: $v0-button-display;
    justify-content: center;
    outline: none;
    gap: #{$v0-button-gap};

    &--disabled,
    &--readonly,
    &--loading {
      cursor: default;
    }

    &--disabled {
      opacity: #{$v0-button-disabled-opacity};
    }
  }
}
