$paper-bg-color: var(--v0-paper-bg-color, transparent) !default;
$paper-border-color: var(--v0-paper-border-color, transparent) !default;
$paper-border-radius: var(--v0-paper-border-radius, 0) !default;
$paper-border-style: var(--v0-paper-border-style, solid) !default;
$paper-border-width: var(--v0-paper-border-width, 1) !default;
$paper-color: var(--v0-paper-color, inherit) !default;
$paper-elevation: var(--v0-paper-elevation) !default;
$paper-font-size: var(--v0-paper-font-size, inherit) !default;
$paper-font-weight: var(--v0-paper-font-weight, inherit) !default;
$paper-gradient: var(--v0-paper-gradient) !default;
$paper-height: var(--v0-paper-height, auto) !default;
$paper-margin: var(--v0-paper-margin, 0) !default;
$paper-max-height: var(--v0-paper-max-height, auto) !default;
$paper-max-width: var(--v0-paper-max-width, auto) !default;
$paper-min-height: var(--v0-paper-min-height, auto) !default;
$paper-min-width: var(--v0-paper-min-width, auto) !default;
$paper-opacity: var(--v0-paper-opacity, 1) !default;
$paper-padding: var(--v0-paper-padding, 0) !default;
$paper-width: var(--v0-paper-width, auto) !default;
