$paper-bg-color: var(--v0-paper-bg-color, transparent);
$paper-border-color: var(--v0-paper-border-color, transparent);
$paper-border-radius: var(--v0-paper-border-radius, 0);
$paper-border-style: var(--v0-paper-border-style, solid);
$paper-border-width: var(--v0-paper-border-width, 1);
$paper-color: var(--v0-paper-color, inherit);
$paper-font-size: var(--v0-paper-font-size, inherit);
$paper-font-weight: var(--v0-paper-font-weight, inherit);
$paper-gradient: var(--v0-paper-gradient);
$paper-height: var(--v0-paper-height, auto);
$paper-margin: var(--v0-paper-margin, 0);
$paper-max-height: var(--v0-paper-max-height, auto);
$paper-max-width: var(--v0-paper-max-width, auto);
$paper-min-height: var(--v0-paper-min-height, auto);
$paper-min-width: var(--v0-paper-min-width, auto);
$paper-opacity: var(--v0-paper-opacity, 1);
$paper-padding: var(--v0-paper-padding, 0);
$paper-width: var(--v0-paper-width, auto);
