@use './variables' as *;

@layer v0-affix {
  .v0-affix {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: #{$v0-affix-gap};
    vertical-align: middle;

    &.v0-affix-append {
      flex-direction: row-reverse;
    }
  }
}
