@layer vuetify-0-img {
  .v0-img {
    border-radius: inherit;
    overflow: hidden;
    border: initial;
    padding: initial;
  }

  .v0-img img {
    border-radius: inherit;
    display: inline-block;
    width: inherit;
    height: inherit;
  }
}
