$v0-icon-background-color: var(--v0-icon-background-color) !default;
$v0-icon-color: var(--v0-icon-color) !default;
$v0-icon-font-size: var(--v0-icon-font-size) !default;
$v0-icon-opacity: var(--v0-icon-opacity) !default;
