name: pkg.pr.new Integration

on:
  push:
    branches: [master]
    tags: ['!**']
  pull_request:
    types: [opened, synchronize, labeled]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Set node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: pnpm

      - name: Install
        run: pnpm install

      - name: Build
        run: pnpm build

      - name: Release
        # TODO: Add './packages/paper' once @vuetify/paper is published to npm
        run: pnpm dlx pkg-pr-new publish --compact --pnpm './packages/0' --only-templates